<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<data>

		<record id="res_config_settings_view_form" model="ir.ui.view">
			<field name="name">res.config.settings.view.form.inherit</field>
			<field name="model">res.config.settings</field>
			<field name="priority" eval="10"/>
			<field name="inherit_id" ref="base.res_config_settings_view_form" />
			<field name="arch" type="xml">
				<xpath expr="//div[hasclass('settings')]" position="inside">
					<div class="app_settings_block" data-string="Gescoth" string="Gescoth" data-key="Gescoth">
						<h3>Gestion d'école secondaire</h3>
						<div class="row mt16 o_settings_container">
							<div class="o_settings_left_pane">
								<label for="chef_etablissement" string="Chef de l'établissement"/><br/>
								<field name="chef_etablissement"/>
							</div>
						</div>
						<div class="row mt16 o_settings_container">
							<div class="o_settings_left_pane">
								<label for="annee_scolaire_id" string="Année scolaire"/><br/>
								<field name="annee_scolaire_id"/>
							</div>
						</div>
						<div class="row mt16 o_settings_container">
							<div class="o_settings_left_pane">
								<label for="ville" string="Fait à"/><br/>
								<field name="ville"/>
							</div>
						</div>
						<div class="row mt16 o_settings_container">
							<div class="o_settings_left_pane">
								<label for="entete" string="Entete de page"/><br/>
								<field name="entete" widget="image" class="oe_avatar oe_right"/>
							</div>
						</div>
					</div>
				</xpath>
			</field>
		</record>

		<record id="gescoth_config_settings_action" model="ir.actions.act_window">
			<field name="name">Configurations</field>
			<field name="type">ir.actions.act_window</field>
			<field name="res_model">res.config.settings</field>
			<field name="view_id" ref="res_config_settings_view_form"/>
			<field name="view_mode">form</field>
			<field name="target">inline</field>
			<field name="context">{'module':'gescoth'}</field>
		</record>

		<menuitem 
			id="menu_gescoth_configuration" 
			parent="gescoth_menu" 
			name="Configurations"
			sequence="100"
			/>
			<menuitem 
				id="menu_gescoth_settings" 
				parent="menu_gescoth_configuration" 
				name="Configurations"
				sequence="10"
				action="gescoth_config_settings_action"
				/>
			</data>
		</odoo>